{{>licenseInfo}}
{{#models}}
{{#model}}
{{#tsImports}}
import { {{classname}} } from './{{filename}}'
{{/tsImports}}


{{#description}}
/**
 * {{{description}}}
 */{{/description}}
{{#isAlias}}{{>modelAlias}}{{/isAlias}}{{^isAlias}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelGeneric}}{{/isEnum}}{{/isAlias}}
{{/model}}
{{/models}}
