/**
* @param consumes string[] mime-types
* @return true: consumes contains 'multipart/form-data', false: otherwise
*/
export const canConsumeForm: (consumes: string[]) => boolean =
    consumes => consumes.indexOf('multipart/form-data') !== -1

/**
 * FilterMethod
 * Enum of all possible filter values.
 * Use 'Is' for non comparable types such as string, and 'Eq'/'Gt'/'Lt' for comparable types such as number and date.
 */
export enum FilterMethod {
    Is = 'IS',
    Exists = 'EXISTS',
    NotExists = 'NEXISTS',
    Like = 'LIKE',
    Eq = 'EQ',
    Gt = 'GT',
    Lt = 'LT',
    Gte = 'GTE',
    Lte = 'LTE',
}

/**
 * FilterParam
 * A single filter parameter that is unique by its combination of key and method.
 */
export class FilterParam {
    get id(): string {
        if (this.method === FilterMethod.Is || this.method === FilterMethod.Eq) {
            return this.key
        } else {
            return `${this.key}[${this.method}]`
        }
    }

    get queryValue(): string {
        if (Array.isArray(this.value)) return this.value.join(",")
        else return this.value
    }

    constructor(
        private method: FilterMethod,
        private key: string,
        public value: string | Array<string> = '',
    ) {
        // Arrays are only allowed for Is, Eq, and Like
        if (
            (this.method !== FilterMethod.Is &&
            this.method !== FilterMethod.Eq &&
            this.method !== FilterMethod.Like) &&
            Array.isArray(value)
        ) throw new Error("Arrays as filters values are only allowed for IS, EQ and LIKE")
    }
}

/**
 * Filter
 * A collection of FilterParams with convenience method for adding and removing them, as well as formatting.
 * Set and the remove methods return a modified clone of the current object.
 */
export class Filter {
    params: { [id: string]: FilterParam } = {}

    private clone() {
        const clone = new Filter()
        for (const key in this.params)
            clone.params[key] = this.params[key]

        return clone
    }

    toParams(): { [key: string]: string } {
        const result = {}

        for (const key in this.params) {
            const param = this.params[key]
            result[param.id] = param.queryValue
        }

        return result
    }

    set(param: FilterParam): Filter {
        const clone = this.clone()
        clone.params[param.id] = param
        return clone
    }

    delete(method: FilterMethod, key: string): Filter {
        const clone = this.clone()
        const filterParam = new FilterParam(method, key)
        delete (clone.params[filterParam.id])
        return clone
    }

    deleteByKey(key: string): Filter {
        const clone = this.clone()
        Object.keys(clone.params)
            .filter(it => it.indexOf(key) !== -1)
            .forEach(it => delete (clone.params[it]))
        return clone
    }

    deleteByMethod(method: FilterMethod): Filter {
        const clone = this.clone()
        Object.keys(clone.params)
            .filter(it => it.indexOf(method) !== -1)
            .forEach(it => delete (clone.params[it]))
        return clone
    }
}

